.mainContainerBanner{
    flex-direction: row;
    display: flex;
    background: linear-gradient(90deg, rgba(62,0,96,1) 0%, rgba(34,0,73,1) 81%);
    height: auto;
}

h1{
    font-weight: 800;
    color: white;
}
p{
    color: white;
}

.leftContainer{
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 40px;
    flex-direction: column;

}
button{
    background: linear-gradient(90deg, rgba(244,94,107,1) 0%, rgba(183,37,109,1) 81%);
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    padding: 2%;
    transition: all 400ms ease-in-out ;
}
button:hover {
    transform: scale(1.02);    
}